<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" type="text/css"> 
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/login-register.css">
    <link rel="stylesheet" href="/stylesheets/burgers.css">
    <link rel="stylesheet" href="/stylesheets/burger.css">
    <link rel="stylesheet" href="/stylesheets/new-burger.css">

    <title>Burger Stop</title>
</head>
<body>
    <nav class="navbar nav-custom navbar-expand-md">
        <div class="container navbar-container">
            <a href="/" class="navbar-brand">Burger Stop <i class="fas fa-hamburger"></i></a>
            <button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon toggler"></span>
            </button> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>
                <ul class="navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                        <li><a class="list-item nav-item" href="/login">Login</a></li>
                        <li><a class="list-item nav-item" href="/register">Register</a></li>
                    <% } else { %>
                        <li><a class="list-item nav-item" href="/users/<%= currentUser._id %>">Profile</a></li>
                        <li><a class="list-item nav-item" href="/logout">Logout</a></li>
                    <% } %> 
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0) { %>
            <div class="alert alert-success">
                <%= success %>
            </div>
        <% } %>
    </div>

