<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" type="text/css"> 
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

        <title>Burger Stop</title>
    </head>
    <body>
        <div class="landing">
            <h1>Burger Stop <i class="fas fa-hamburger"></i></h1>
            <p>Find the highest rated burgers from all over the world.</p>
            <div class="btn-div">
                <a href="/burgers" class="landing-btn">View burger reviews</a>
            </div>
        </div>
    </body>
</html>