<% include partials/header %>
<h1>Sign up</h1>


<form action="/register" method="POST">
    <input type="text" name="name" placeholder="Your name">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="pic" placeholder="profile pic url">
    <input type="password" name="password" placeholder="password">
    <button>Register</button>
</form> 
<% include partials/footer %>