/* colors
 background #FF6100 | #FF531C
 lettuce #74AC2D | #68AC42
 ketchup #DE0000 | #F10007
 burger #4C2003 | #521D07
 cheese #FAAF18 | #FFAA3A
 bun #E5A371 | #F09F76
*/

/* burger page styles */
.burger-container {
    height: 100%;
}
.burger-row {
    height: 100%;
}
/* content col */
.content-col {
    background-color: #FF531C;
    padding: 0;
    border: 2px solid white;
    border-right: none;
    border-radius: 20px 0 0 20px;
    padding: 20px;
}
.burger-author {
    color: white;
    font-weight: 600;
}
.burger-author:hover{
    color: white;
}
.burger-page-img {
    margin-top: 20px;
    max-width: 100%;
    max-height: 100%;
    height: 280px;
    border-radius: 10px;
}
.burg-options {
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-burg-btn {
    background-color: #FF531C;
    color: white;
    border: 2px solid white;
    margin-right: 20px;
    border-radius: 8px;
    padding: 7px 25px;
    font-weight: 600;
}
.delete-burg-btn {
    background-color: white;
    color: #FF531C;
    border: 2px solid white;
    border-radius: 8px;
    padding: 7px 25px;
}
.edit-burg-btn:hover {
    text-decoration: none;
    animation: .3s ease-in 0s fadeInWhite forwards;
}
.delete-burg-btn:hover {
    animation: .3s ease-in 0s fadeIn forwards;
    text-decoration: none;
}



/* google maps col */
.map-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
#map {
    min-width: 100%;
    min-height: 100%;
    border-radius: 0 20px 20px 0;
    border: 2px solid white;
    border-left: none;
}




/* edit burger page */
.edit-burg-col {
    height: 770px;
    margin-top: 20px;
    margin-bottom: 50px;
}

@keyframes fadeInWhite {
    0% {
        background-color: #FF531C;
        color: white;
    } 
    100% {
        background-color: white;
        color: #FF531C;
    }
}