/* colors
 background #FF6100 | #FF531C
 lettuce #74AC2D | #68AC42
 ketchup #DE0000 | #F10007
 burger #4C2003 | #521D07
 cheese #FAAF18 | #FFAA3A
 bun #E5A371 | #F09F76

 #D4D4D4
 #DCDCDC
 F0F0F0
#E1E1E1
 */


/* all burgers page styles */
.jumbotron {
    background-color: #FF531C;
    color: white;
    border-radius: 10px;
    padding: 25px 40px;
    border: 2px solid white;
}
.jumb-h-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.add-rev-col {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-new-btn {
    margin-top: 20px;
    background-color: #FF531C;
    border: 2px solid white;
    color: white;
    padding: .5em 2.2em;
    font-weight: 700;
    border-radius: 5px;
}
.add-new-btn:hover {
    animation: .5s ease 0s fadeIn forwards;
}

.burger-col {
    height: 200px;
}
.burger-card {
    background-color: #FF531C;
    border-radius: 10px;
    justify-content: flex-start;
    border: 2px solid white;
    margin-top: 20px;
}
.burger-card:hover {
    border: none;
    box-shadow: 0px 0px 5px 3px  #FFFFFF;
}
.card-body {
    padding: 15px;
    padding-bottom: 0;
    text-align: left !important;
    margin-left: 5px;
}
.centered {
    text-align: center;
    margin-left: -5px;
}
.burger-pic-div a {
    width: 100%;
}
.burger-img {
    max-width: 100%;
    max-height: 100%;
    width: 120%;
    border-radius: 7px 7px 0 0;
    height: 200px;
    border-bottom: 2px solid white;
}
.caption {
    margin-bottom: 20px;
}
.burger-link {
    color: white;
    max-width: 100%;
}
.burger-link:hover {
    color: white;
    text-decoration: none;
}


