/* colors
 background #FF6100 | #FF531C
 lettuce #74AC2D | #68AC42
 ketchup #DE0000 | #F10007
 burger #4C2003 | #521D07
 cheese #FAAF18 | #FFAA3A
 bun #E5A371 | #F09F76
*/

/* comments div */
.comments {
    margin-top: 20px;
    background-color: #FF531C;
    width: 100%;
    border-radius: 10px;
    border: 2px solid white;
    padding: 20px;
    margin-bottom: 50px;
}
.comm-header{
    width: 98%;
    margin-left: 1%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid  white;
    margin-bottom: 5px;
    margin-top: 15px;
}
.com-row {
    margin-bottom: 10px;
    margin-left: 1%;
    width: 98%;
}
.com-content {
    margin-top: 10px;
    border-bottom: 1px solid white;
}
.com-options-col {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid white;
}
.com-author {
    font-size: 22px;
}
.edit-comm-btn {
    background-color: #FF531C;
    color: white;
    border: 2px solid white;
    padding: 7px 25px;
    border-radius: 5px;
    margin-right: 10px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}
.delete-comm-btn {
    background-color: #FF531C;
    color: white;
    border: 2px solid white;
    padding: 7px 25px ;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
}
.edit-comm-btn:hover {
    text-decoration: none;
    animation: .3s ease-in 0s fadeInWhite forwards;
}
.delete-comm-btn:hover {
    animation: .3s ease-in 0s fadeIn forwards;
}
.add-comm-btn {
    margin-left: 30px;
    background-color: #F10007;
    padding: 10px 20px;
    border-radius: 5px;
    color: #F09F76;
    font-weight: 600;
}
.add-comm-btn:hover {
    color: #F09F76;
    text-decoration: none;
}
.new-com-col {
    margin-top: 200px;
    height: 250px;
}
.new-comment {
    width: 98%;
    margin-left: 1%;
    padding-top: 10px;
}

/* edit comment page */
.edit-com-col {
    margin-top: 100px;
    height: 300px;
}
.edit-com-group {
    margin-bottom: 30px;
}

.btn-secondary {
    background-color: #FF531C;
    color: white;
    border: 2px solid white;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    animation: .5s ease-in 0s fadeIn forwards;
    border: 2px solid white;
    box-shadow: none;
    background-color: #FF531C;
}
.dropdown-menu {
    background-color: #FF531C;
    border: 2px solid white;
    padding: 5px;
}