/* colors
 background #FF6100 | #FF531C
 lettuce #74AC2D | #68AC42
 ketchup #DE0000 | #F10007
 burger #4C2003 | #521D07
 cheese #FAAF18 | #FFAA3A
 bun #E5A371 | #F09F76
*/

/* login/register/other forms page styles */

.form-col {
    background-color: #FF531C;
    height: 380px;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 40px;
}
.reg-col {
    height: 550px;
}
.form-col h1 {
    padding: 1em 0 .5em .25em;
    font-weight: 500;
}
.form-control{
    border: none;
    border-radius: 5px;
}
.form-label {
    font-weight: 500;
    margin-left: 5px;
}
.file-control {
    border: none;
    background-color: transparent;
    color: white;
}
.file-control:focus,
.file-control:active,
.file-control:hover {
    background-color: transparent;
    border: none;
    color: white;
    box-shadow: none;
}






.lg-rg-btn {
    background-color: #FF531C;
    color: white;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 5px;
    width: 180px;
    height: 40px;
}
.lg-rg-btn:hover {
    animation: 1s ease 0s fadeIn forwards;
}
@keyframes fadeIn {
    0% {
        background-color: #FF531C;
        color: white;
    }
    100% {
        background-color: white;
        color: #FF531C;
    }
}