/* navbar styles 
colors
==========
bun: #f19f00
ketchup: #d22501
patty: #88472e
lettuce: #91a61d
*/
.nav-custom {
    background-color: transparent;
    border-radius: 0;
    color: white;
}
.navbar-brand {
    color: #FF3E00 !important;
    z-index: 1000;
    font-size: 30px;
    font-weight: 600;
}
.navbar-brand:hover {
    color: #FF3E00;
}
.nav-item {
    z-index: 1000;
    color: #FF3E00;
    font-weight: 600;
    font-size: 20px;
    padding-left: 1.5em;
}
.nav-item:hover{
    color: #FF3E00;
    text-decoration: none;
}

