/* colors
 background #FF6100 | #FF531C
 lettuce #74AC2D | #68AC42
 ketchup #DE0000 | #F10007
 burger #4C2003 | #521D07
 cheese #FAAF18 | #FFAA3A
 bun #E5A371 | #F09F76
*/

.user-container {
    margin-top: 25px;
}
.centered-pic {
    display: flex;
    justify-content: center;
    background-color: #FF531C;
    border-radius: 10px;
    border: 2px solid white;
}
.user-pic {
    max-width: 100%;
    max-height: 100%;
    height: 300px;
    width: 97%;
    padding: 10px 0;
    border-radius: 12px;
}
.user-info {
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    background-color: #FF531C;
    border: 2px solid white;
}

.burger-pic-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-burgers-heading {
    background-color: #FF531C;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding-top: 15px;
}



.edit-user-col {
    height: 580px;
}

.user-options {
    width: 100%;
}
.edit-user-btn {
    padding: 10px 23%;
}
.edit-user-btn:hover {
    text-decoration: none;
}
.del-user {
    width: 95%;
    margin-top: 25px;
}

@media (max-width: 350px) {
    .edit-user-btn {
        padding: 8px 15px;
        font-size: 14px;
    }
    .del-user {
        padding: 8px 10px;
        font-size: 12px;
    }
    .user-bg-h {
        font-size: 18px;
    }
    .user-burgers-heading {
        padding: 15px 0;
    }
}

@media (min-width: 351px) { 
    .edit-user-btn {
        padding: 8px 20px;
        font-size: 15px;
    }
    .del-user {
        padding: 8px 15px;
        font-size: 14px;
    }
    .user-bg-h {
        font-size: 20px;
    }
    .user-burgers-heading {
        padding: 15px 5px;
    }
}

@media (max-width: 991px){
    .centered-pic {
        border-radius: 10px 0 0 10px;
        border-right: none;
        padding: 5px;
    }
    .user-info {
        margin-top: 0;
        border-left: none;
        border-radius: 0 10px 10px 0;
    }
    .user-info-row {
        margin-bottom: 20px;
    }
}