<!-- <div class="col-md-3 col-sm-6 burger-col">
    <div class="thumbnail">
        <a href="/burgers/<%= burger._id %>">
            <img class="burger-img" src="<%= burger.picture.url %>"> 
        </a>
        <div class="caption">
            <a class="burger-link" href="/burgers/<%= burger._id %>">
                <h4><%= burger.name %></h4>
            </a>
            <p><%= burger.restaurant %></p>
            <a class="burger-link" href="/users/<%= burger.author.id %>">
                <h5>Made by <%= burger.author.username %></h5>
            </a>
            <p value="<%= burger.stars %>" class="p-stars">
                <i class="fas fa-star bgs-star"></i>
                <i class="fas fa-star bgs-star"></i>
                <i class="fas fa-star bgs-star"></i>
                <i class="fas fa-star bgs-star"></i>
                <i class="fas fa-star bgs-star"></i>
            </p>
        </div>
    </div>
</div> -->